@media screen and (max-width: 769px) {
  .hero-section {
    height: 320px !important;
  }

  .hero-title {
    font-size: 2rem !important;
    line-height: 2.5rem;
  }

  .hero-description {
    font-size: 1rem !important;
    line-height: 1.5rem;
  }
}