@media screen and (max-width: 768px) {
  .hero-section {
    height: 320px;
  }

  .hero-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .hero-description {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}